:root {
  --primary-color: #f5f5f5;
  --line: #e7e7e7;
  --dark-color: #5b5b5b;
  --dark-gray: #333;
  --white: #fff;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: none;
}



@media (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Inter', sans-serif;
  }

  .card {
    background-color: var(--primary-color);
    border: 1px solid var(--line);
    border-radius: 0.5rem;
    padding: 1.2rem;
    color: var(--dark-gray);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }

  .card div {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    border-bottom: 1px solid var(--line);
    padding-bottom: 6px;
  }

  .card div:last-of-type {
    border-bottom: none;
  }
}
.landing p {
  color: var(--dark-gray);
  font-weight: 600;
  font-size: 1.2rem;
}

.landing table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  border-radius: 8px;
  overflow: hidden;
  @media (max-width: 768px) {
    display: none;
  }
}

.landing table th {
  text-align: left;
  padding: 12px 16px;
  background-color: var( --primary-color);
  color: var(--dark-color);
  font-weight: 600;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--line);
}

.landing table td {
  padding: 12px 16px;
  font-size: 0.9rem;
  color: var(--dark-gray);
  border-bottom: 1px solid var(--line);
  cursor: pointer;
}

.landing table tbody tr:last-child td {
  border-bottom: none;
}

.landing table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

.landing table tbody tr:hover {
  background-color: var(--white);
  transition: background-color 0.2s ease-in-out;
}

.landing table button {
  background-color: var(--dark-color);
  color: var(--white);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.2s;
}

.landing table button:hover {
  background-color: var(--dark-gray);
}

