:root {
  --primary-color: #f5f5f5;
  --line: #e7e7e7;
  --dark-color: #5b5b5b;
  --dark-gray: #333;
  --white: #fff;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.loadMoreButton {
    margin-top: 0.5rem;
    background-color: var(--dark-color);
    color: var(--white);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.2s;
    width: 100%;
}

.loadMoreButton:hover {
    background-color: var(--dark-gray);
}